<section id="contact">
	<div class="container-fluid">
		<div class="row row-flex row-flex-wrap">
			<div class="col-md-3 col-sm-3 col-xs-12 tv-bgblackclr">
				<div class="tv-about-salon">
					<h3>AfriTex</h3>
					<p>Un espace de valorisation et de promotion de tissus africains authentiques 
																		                       pour faciliter leur accès à l'international et permettre à une plus grande clientèle de s'en approvisionner
																							   en un même endroit (Gain de temps, choix variés en qualité et en quantité, coût moindre).</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12 tv-bgxlightcreamclr">
				<div class="tv-why-choose-details">
					<h2 class="text-right">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
					</h2>
					<h3>Espace de vente physique</h3>
					<p>Adresse Afritex<br>
						Montreuil</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12 tv-bglightcreamclr">
				<div class="tv-why-choose-details">
					<h2 class="text-right">
						<i class="fa fa-phone" aria-hidden="true"></i>
					</h2>
					<h3>Contactez-nous</h3>
					<p>
						<strong>Téléphone :
						</strong>
						<a href="#">
							(+33) 612 607 431</a>
					</p>
					<p>
						<strong>Email :</strong>
						<a href="#">
							contact@afritex.fr</a>
					</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12 tv-bgcreamclr">
				<div class="tv-why-choose-details">
					<h2 class="text-right">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
					</h2>
					<h3>Horaires</h3>
					<p>
						<strong>Mardi - Samedi</strong>
						10:00 - 19:00</p>
					<p>
						<strong>Dimanche</strong>
						10:00 - 14:00</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="tv-map">
				<iframe src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Paris%2C%20France+(Afritex)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="row tv-bgblackclr footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-sm-12">
						<div class="tv-copyright-box">
							<p>Afritex &copy; 2019, Tous droits réservés.</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-sm-12">
						<div class="footer-social-links text-right">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
