



.tv-bgblackclr{
    background-color: #161616;
}
.tv-bggrayclr{
    background-color: #313131;
}
.tv-bgcreamclr{
    background-color: #ccbea4;
}
.tv-bglightcreamclr{
    background-color: #d4cec0;
}
.tv-bgxlightcreamclr{
    background-color: #e5e1d5;
}

.tv-banner-title h1, .tv-service-item-name h5, .tv-why-choose-details > h4, .tv-offer-details > h3, .tv-team-details.tv-bgblackclr > h3, .tv-client-details > h3, .tv-news-details h3{
    font-family: 'qwigleyregular';
    text-transform: capitalize;}

    h1,h2,h3,h4,h5,h6,p{
        margin: 0;}

        .tv-map iframe{
            width: 100%;
            height: 200px;
        }
       
        
    
 