{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!
{% endblock %}

{% block body %}
	<div>
		<form>
			<input type="search" name="search" placeholder="Recherche..."/>
			<button type="submit">Rechercher</button>
		</form>
	</div>
{% endblock %}
